<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>style</title>
</head>
<body>


<!--顶部栏-->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar sticky-top flex-md-nowrap p-0 navbar-dark  bg-dark" id="topbar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" >用户:[[${session.user.userName}]]</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/community/communityHall/1}">社团大厅</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/community/searchCommunity/1}" method="post">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="Cname">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">社团搜索</button>
        </form>
    </div>
</nav>

<!--侧边栏-->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/information.html}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                    </svg>
                    我的资料 <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/activitys/myActivity(id=${session.user.id})}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                        <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                        <polyline points="13 2 13 9 20 9"></polyline>
                    </svg>
                    我的活动
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/post/userPost}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
                        <circle cx="9" cy="21" r="1"></circle>
                        <circle cx="20" cy="21" r="1"></circle>
                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                    </svg>
                    我的贴吧
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/myCommunity}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                    我的社团
                </a>
            </li>
        </ul>
    </div>
</nav>

<!--社团导航栏-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="communitybar">
    <!--社团头像-->

    <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="nav-link active" href="#" th:href="@{/community/communityInfo(id=${session.communityId})}">[[${session.communityName}]]</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/activitys/communityActivity(id=${session.communityId})}">活动 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/post/postList(id=${session.communityId})}">帖子</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/community/findUser(id=${session.communityId})}" tabindex="-1" aria-disabled="true">成员</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>